@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --pink: hsl(14, 92%, 95%);
  --red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --pale-grayish-blue: hsl(230, 100%, 99%);
  --grayish-blue: hsl(224, 65%, 95%);
  --light-blue: hsl(223, 50%, 87%);
  --text-blue: hsl(225, 20%, 60%);
  --dark-blue: hsl(227, 35%, 25%);
  --fw600: 600;
  --fw800: 800;
  --primary-font: "Manrope", sans-serif;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--fw600);
  color: var(--text-blue);
  font-size: 0.9375rem;
  background: url("./images/pattern-circles.svg"),
    url("./images/bg-pattern.svg"), var(--pale-grayish-blue);
  background-repeat: no-repeat;
  background-position: top 3.75rem center, top center, center;
  background-size: 11.25rem, contain, cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  margin: auto;
}

h1 {
  color: var(--dark-blue);
  font-weight: var(--fw800);
  font-size: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6.25rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.0625rem;
  font-weight: var(--fw600);
}

section {
  background-color: var(--white);
  border-radius: 0.625rem;
  width: 56vw;
  max-width: 50rem;
  box-shadow: 0.25rem 1.25rem 1.25rem hsla(225, 20%, 60%, 0.1);
  margin: 6.25rem 0 2.5rem 0;
}

.upper-container {
  border-bottom: 0.0625rem solid var(--grayish-blue);
  padding: 2.5rem 2.5rem 1.25rem 2.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5rem 5rem 5rem;
  align-items: center;
  justify-content: space-between;
}

.pageviews {
  font-size: 1rem;
  font-weight: var(--fw800);
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

.monthly-price {
  font-size: 1rem;
  font-weight: var(--fw800);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  grid-column-start:2;
}

.price-counter {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

.slider-container {
  width: 100%;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.625rem;
  background: linear-gradient(
    to right,
    var(--soft-cyan) 0%,
    var(--soft-cyan) 50%,
    var(--grayish-blue) 50%,
    var(--grayish-blue) 100%
  );
  outline: none;
  border-radius: 6.25rem;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background: url("./images/icon-slider.svg"), hsl(174, 67%, 75%);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6.25rem;
  box-shadow: 0 0.375rem 0.625rem hsla(174, 97%, 65%, 0.6),
    0 1rem 0.625rem 0.5rem hsla(174, 77%, 80%, 0.5);
  cursor: pointer;
  top: -0.625rem;
  left: 0rem;
}

.slider::-webkit-slider-thumb:active {
  background: url("./images/icon-slider.svg"), var(--strong-cyan);
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-position: center;
  cursor:grabbing;
}

.toggle-btn {
  width: 3rem;
  height: 1.5rem;
  background-color: var(--light-blue);
  border-radius: 6.25rem;
  position: relative;
  cursor: pointer;
}

.toggle-btn::after {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 6.25rem;
  background-color: var(--white);
  position: absolute;
  top: 0.1875rem;
  left: 0.25rem;
}

.toggle-year{
    width: 3rem;
  height: 1.5rem;
  background-color: var(--soft-cyan);
  border-radius: 6.25rem;
  position: relative;
  cursor: pointer;  
}

.toggle-year::after{
      content: "";
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 6.25rem;
  background-color: var(--white);
  position: absolute;
  top: 0.1875rem;
  right: 0.25rem;
}

.discount {
  color: var(--red);
  font-size: 0.875rem;
  background-color: var(--pink);
  padding: 0.125rem 0.375rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#discount-mobile{
    display: none;
}

.billing-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  margin: 3rem 0;
  grid-column-start:1;
  grid-column-end: 3;
}



.bottom-container {
  padding: 1.25rem 2.5rem 2.5rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

ul li {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.start-btn {
  border: none;
  font-family: var(--primary-font);
  font-weight: var(--fw800);
  color: var(--pale-blue);
  background-color: var(--dark-blue);
  padding: 0.75rem 2.5rem;
  border-radius: 6.25rem;
  cursor: pointer;
  font-size: 0.9375rem;
}

.start-btn:hover {
  color: var(--white);
}

footer {
  color: hsla(225, 20%, 60%, 0.4);
  margin-bottom: 1rem;
}


/* === responsive === */

@media (max-width: 62.5rem){
    section{
        width: 80vw;
    }
}
@media (max-width: 53.75rem){
    section{
        width: 90vw;
    }
}

@media (max-width: 37.5rem){
  body{
    background: url("./images/pattern-circles.svg"),
    url("./images/bg-pattern.svg"), var(--pale-grayish-blue);
  background-repeat: no-repeat;
  background-position: top 3.75rem center, top left, center;
  background-size: 11.25rem, 260%, cover;
  }
  h1{
    font-size: 1.75rem;
    text-align: center;
  }
  h2{
    width: 60vw;
    text-align: center;
  }

  section{
    align-items: center;
    justify-content: center;
  }
  .pageviews{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .monthly-price{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
  }
  .slider{
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .billing-wrapper{
    grid-column-start:1;
    grid-column-end: 3;
    justify-content: center;
  }
 #discount-desktop{
    display: none;
  }
#discount-mobile{
    display: flex;
}
.bottom-container{
    flex-direction: column;
    gap: 2rem;
}
}

@media (max-width: 30rem){
    .upper-container, .bottom-container{
        padding: 1.5rem;
    }
}